#if(!$model.permalink)
<div class="daybox">
#end

    #foreach( $entry in $entries )
		<div class="blog">
			<img src='$url.resource("img/user.jpg")' alt="...">
			<div class="blog-desc">
    			<a name="$utils.encode($entry.anchor)" id="$utils.encode($entry.anchor)"></a>
    
    		    #if($model.permalink)
    		    <h3 class="entryTitle">$entry.title</h3>
    		    #else
    		    <h3 class="entryTitle"><a href="$entry.permalink">$entry.title</a></h3>
    		    #end
    			<hr>
				
    			<p class="text-muted">by <span style="text-transform: capitalize;">$entry.creator.screenName</span> on $utils.formatDate($day, "EEEE MMM dd, yyyy")</p>
    	
    		    <div class="entryContent">
    		        #if($model.permalink)
    		            <p>$entry.displayContent</p>
    		        #else
    		            #if($entry.summary != "")
    		                <p>$entry.summary</p>
                            <a class="btn btn-red" href="$url.entry($entry.anchor)">Read More <i class="fa fa-angle-right"></i></a>
                        #else
                            <p>$entry.displayContent</p>
                        #end
    		        #end
    		    </div>
    
    		    <p class="entryInfo" style="clear: right; margin-top:30px;">
    		        #set($commentCount = $entry.commentCount)
    		        #if($entry.commentsStillAllowed || $commentCount > 0)
    		            #set($link = "$url.comments($entry.anchor)" )
    		            <a href="$link" class="commentslink">$text.get("macro.weblog.comments") [$commentCount]</a>
    		        #end
    
    		        #if ($utils.isUserAuthorizedToAuthor($entry.website))
    		            &nbsp;|&nbsp;
    		            <a href="$url.editEntry($entry.anchor)">
    		                $text.get("generic.edit")</a>
    		        #end
    		    </p>
    
    		    #if ($entry.tags && $entry.tags.size() > 0)
    				<p class="entryInfo" style="clear: right">
    				    Tags:
    				    #foreach($tag in $entry.tags)
                            <i class="fa fa-tag text-muted"></i> <a class="tagLink" href="$url.tag($tag.name)">$tag.name</a>
    				    #end
    				</p>
    		    #end
            </div>
		</div>
		<hr>
    #end

#if(!$model.permalink)
</div>
#end






