<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  #includeTemplate($model.weblog "standard_head")
  <title>$model.weblog.name: $model.weblog.tagline</title>
</head>
<body>

	<!-- HEADER -->
	<header>
		#includeTemplate($model.weblog "standard_header")
	</header>
	
    <div class="wrapper">
		
          <!-- Topic Header -->
          <div class="topic">
            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <h3>Blog Tag Search</h3>
                </div>
                <div class="col-sm-8">
                  <ol class="breadcrumb pull-right hidden-xs">
                    <li><a id="blog_bread_crump" href="/en/index.html">Home</a></li>
                    <li><a href="/blog">Blog</a></li>				
                    <li class="active">Blog Tag Search</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
		  
		<!-- BODY -->
    	<div class="container">
    	
    	  	<div class="row">
    	  		<!-- BODY MAIN-->
    			<div id="main_content" class="col-lg-9">
    		   	  	<div class="alert alert-info"><p>Entries tagged $model.tags</p></div>
    				#set($pager = $model.getWeblogEntriesPager())
    				#showWeblogEntriesPager($pager)
    				#if ($model.permalink)
    					#showWeblogEntryComments($entry)
    					#showWeblogEntryCommentForm($entry)
    				#end
    				<ul class="pager">
    			        #if($utils.isNotEmpty($pager.prevLink))<li class="previous"><a href="$pager.prevLink">← $pager.prevName</a></li>#end
    			        #if($utils.isNotEmpty($pager.nextLink))<li class="next"><a href="$pager.nextLink">$pager.nextName →</a></li>#end
    		        </ul>
    			</div>
    			
    			<!-- BODY - SIDEBAR -->
    			<div id="sidebar_content" class="col-lg-3">
    				<!-- -1 all time, 30 max tags amount-->
                    #set($mytags = $model.weblog.getPopularTags(-1, 30))
                    #if ($mytags && $mytags.size() > 0)
        				<div class="panel panel-default">
                           <div class="panel-heading">
                                Tags
                           </div>							
        				   <div class="panel-body">
                           <!--div id="tagcloud"-->
    						   <ul>
                                   #foreach ($tag in $mytags)
    								<li>								
                                      <a class="tag s${tag.intensity}" href="$url.tag($tag.name)">$tag.name ($tag.count)</a>
                                    </li>
    							   #end
    						   </ul>
                           </div>
                        </div>
                    #end
    			</div> <!-- close sidebar_content -->
    		</div>
    	</div>
	</div> <!-- wrapper -->
	
	<!-- FOOTER -->
	<footer>
		#includeTemplate($model.weblog "standard_footer")
	</footer>
	
</body>
</html>

