<!DOCTYPE html>
<html lang="en">
<head>
	#includeTemplate($model.weblog "standard_head")
	<title>$model.weblog.name: $model.weblog.tagline</title>
	#showAutodiscoveryLinks($model.weblog)
	<link rel="stylesheet" href='$url.page("custom.css")' />
    #showAnalyticsTrackingCode($model.weblog)
    #showMetaDescription()
</head>
<body>

	<!-- HEADER -->
	<header>
		#includeTemplate($model.weblog "standard_header")
	</header>
	
	    <!-- Wrapper -->
    <div class="wrapper">

      <!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Our Company's Blog</h3>
            </div>
            <div class="col-sm-8">
              <ol class="breadcrumb pull-right hidden-xs">
                <li><a id="blog_bread_crump" href="index.html">Home</a></li>
                <li class="active">Blog</li>
              </ol>
            </div>
          </div>
        </div>
      </div>			
		
	<!-- BODY -->
	<div class="container">
	  	
	  	<div class="row">
	  	
		  	<!-- BODY MAIN-->
		   	<div id="main_content" class="col-lg-9">
				#set($pager = $model.getWeblogEntriesPager())
				#showWeblogEntriesPager($pager)
				#if ($model.permalink)
					#showWeblogEntryComments($entry)
					#showWeblogEntryCommentForm($entry)
				#end
				<ul class="pager">
	        		#if($utils.isNotEmpty($pager.prevLink))<li class="previous"><a href="$pager.prevLink">← $pager.prevName</a></li>#end
				    #if($utils.isNotEmpty($pager.nextLink))<li class="next"><a href="$pager.nextLink">$pager.nextName →</a></li>#end
				</ul>
			</div>
		
			<!-- BODY - SIDEBAR -->
			<div id="sidebar_content" class="col-lg-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<a href="$url.feed.entries.atom" class="rss">
                            <i class="fa fa-rss" title="RSS/Atom feed subscribe" alt="RSS/Atom feed icon" 
								style="display: inline-block;  height: 34px;  width: 34px;  border-radius: 34px;  line-height: 34px;  text-align: center;  border: 1px solid #e9e9e9;  color: white;background-color:#ff9900;"></i></a>&nbsp;
						
						<a href="$url.feed.entries.atom" style="color: rgb(85, 85, 85);">Subscribe to this blog</a>
					</div>
				</div>

				<!-- -1 all time, 30 max tags amount-->
                #set($mytags = $model.weblog.getPopularTags(-1, 30))
                #if ($mytags && $mytags.size() > 0)
    				<div class="panel panel-default">
                       <div class="panel-heading">
                            Tags
                       </div>							
    				   <div class="panel-body">
                       <!--div id="tagcloud"-->
						   <ul>
                               #foreach ($tag in $mytags)
								<li>								
                                  <a class="tag s${tag.intensity}" href="$url.tag($tag.name)">$tag.name ($tag.count)</a>
                                </li>
							   #end
						   </ul>
                       </div>
                    </div>
                #end

				<div class="panel panel-default">
    				<div class="panel-body">
						<ul>
        					#if ($utils.isUserAuthorizedToAuthor($model.weblog))
        						<li>
        						   <a href="$url.createEntry">$text.get("navigationBar.newEntry")</a>
        						</li>
        						#if($utils.isUserAuthorizedToAdmin($model.weblog))
        						   <li>
        							   <a href="$url.editSettings">$text.get("navigationBar.settings")</a>
        						   </li>
        						#end
        							<li>
        								<a href="$url.logout">$text.get("navigationBar.logout")</a>
        							</li>
        					#else
        						#if ($utils.isUserAuthenticated())
        							<li>
        								<a href="$url.logout">$text.get("navigationBar.logout")</a>
        							</li>
        						#else
        							<li>
        								<a href="$url.login">$text.get("navigationBar.login")</a>
        							</li>
        						#end
    						#end
                        </ul>
                    </div>				
				</div>
			</div> <!-- close sidebar_content -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
    </div><!-- /.wrapper -->

	<!-- FOOTER -->
	<footer>
		#includeTemplate($model.weblog "standard_footer")
	</footer>
	
</body>
</html>
